

<div class="container mt-5">

    <div class="btn-box d-flex justify-content-between align-items-center mb-3">
        <h2>Cadastro de livros!</h2>
        <a class="btn btn-success"><i class="bi bi-plus-circle" ></i>  Cadastrar novo livro</a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Genero</th>
                <th>Quantidade em Estoque</th>
                <th>Data de cadastro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="bi bi-people"></i>O Jantar Secreto</td>
                <td>Raphael Montes</td>
                <td>Suspense</td>
                <td><i class="bi bi-envelope-at"></i>10</td>
                <td><i class="bi bi-calendar"></i>21/01/2024</td>
                <td>
                    <a class="btn btn-warning"><i class="bi bi-file-earmark-zip"></i>Detalhes</a>
                    <a class="btn btn-primary"><i class="bi bi-pencil"></i>Editar</a>
                </td>
            </tr>
        </tbody>
    </table>


</div>